.home-bg{
    background-image: url(../../assets/images/home-bg.jpg);
    background-repeat: no-repeat;
    height: 100%;
    padding-top: 100px;
}
.home-content{
    background-color: #FFFFFF;
    border-radius :4px;
    width: 1200px; 
    margin: auto; 
}